.section img {
	height: 15vh;
	width: auto;

	margin-right: 4vw;
}

.section-title {
	display: flex;
	align-items: center;
}

.section-content {
	width: 25vw;

	display: flex;
	flex-direction: row;
	align-items: center;
	
	color: #586069;
	text-decoration: none;
	text-align: justify;
}

.section-links {
	padding-left: 0;
	margin-top: 0;

	list-style-type: none;
}

.section-links li{
	margin-bottom: 1vh;
	margin-top: 1vh;
}

.flag {
	padding: 2px;
	margin-left: 1vw;
	border-radius: 3px;
	border: 1px solid black;

	font-family: 'Lato', sans-serif;
	font-weight: 900;
	font-size: 12px;
}

.featured { border-color: #4caf50; color: #4CAF50; }
.abandoned { border-color: #f44336; color: #f44336; }

#geekia:hover .section-title { color: #0E6AC7; }
#pycards:hover .section-title { color: #FFD43B; }
#banklog:hover .section-title { color: #4CAF50; }
#monolix:hover .section-title { color: #363636; }

.github:hover * { color: #333; }
.rtd:hover * { color: #2980B9; }
.pypi:hover * { color: #FFD43B; }
.telegram:hover * { color: #0088cc; }
